@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello teacher </h1>
    <p>Welcome to the school register.</p>
    <a asp-controller="Students" asp-action="Index"><h1>Student List </h1></a>
    <a asp-controller="Classrooms" asp-action="Index"><h1>ClassRoom List </h1></a>
    <a asp-controller="Materials" asp-action="Index"><h1>Material Student List </h1></a>
</div>
